<div id="group-container">
    <div class="group-header text-white d-flex justify-content-center align-items-center">
        <h2 class="mt-5">Groups</h2>
    </div>
    <hr class="line-break">
    <div class="group-list flex-grow-1">
        <ul class="list-unstyled">
            <li class="group-item">Group 1</li>
            <li class="group-item">Group 2</li>
            <li class="group-item">Group 3</li>
            <li class="group-item">Group 4</li>
            <li class="group-item">Group 5</li>
        </ul>
    </div>
</div>
