#group-container{
    background-color: #050505;
    height: 100%;
    max-width: 334px;
}

.group-header h2{
    font-size: 1.75rem;
}

.line-break{
    height: 1px;
    background-color: #03DAC6;
    border-radius: 50px;
    border: none;
    opacity: 1;
    width: 25%;
    max-width: 60px;
    box-shadow: 0px 0px 5px 3px rgba(3, 218, 198, 0.48);
    margin: 20px auto;
}

.group-list {
    overflow-y: auto;
    padding: 10px 0;
}

.group-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.group-item {
    padding: 10px 15px;
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-bottom: 3px;
    font-size: 1.15rem;
}

.group-item:hover {
    background-color: #333;
}

.bg-backButton {
    background-color: #03DAC6;
    color: white; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.back-icon {
    width: 26px; 
    height: 26px;
    margin-right: 4px;
    margin-left: -6px; 
}

.spacing-custom{
    margin-top: 25px;
    margin-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.05rem;
}


.group-title{
    padding: 10px 15px;
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    font-size: 1.15rem;
    box-shadow: inset 0 0 9.2px rgb(3, 218, 198);
    border: 1px solid #03DAC6;
    align-items: center;
    justify-content: center;
    position: relative;
}

.group-title button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}


.channel {
    padding: 10px 15px;
    width: 95%;
    background-color: #121212;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin: 0 auto 3px auto;
    font-size: 1.15rem;
    border: 1px solid transparent;
}

.channel:hover{
    background-color: #1f1f1f;
}

.channel.selected {
    border-color: #6C5FCB; 
    box-shadow: inset 0 0 9.2px rgb(108, 95, 203);
    background-color: #1F1F1F; 
}
