#right-column{
    height: 100%;
    position: relative;
}


.noSelection{
    background-color: #191919;
    color: #353535;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;

    font-size: 2.15rem;
}

.header-bg{
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-icon-1{
    background-color: rgba(255, 255, 255, .14);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.header-icon-2{
    background-color: rgba(255, 255, 255, .14);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.message-parent {
    display: flex;
    flex-direction: column;
}

.message-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 775px;

    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
    }
}

.message-input-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 50px 50px 50px;
    flex-shrink: 0;
    bottom: 0;
}

.message-input {
    flex-grow: 1;
    background-color: #1A1A1A;
    color: #E0E0E0;
    border: 1px solid #6C5FCB;
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 1.1rem;
    outline: none;
}

.attach-button {
    position: absolute;
    right: 75px;
    
}

.attach-button img {
    cursor: pointer;
}

.settings-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.63);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}


.message-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.message-container-content {
    display: flex;
    width: 100%;
}

.message-content {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

.sent-content {
    background-color: #4A4285;
    color: white;
    text-align: right;
    margin-left: auto;
    margin-right: 25px;
    max-width: 650px; 
}

.received-content {
    background-color: #262626;
    color: white;
    text-align: left;
    margin-left: 25px;
    max-width: 650px;
}

.message-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.sent-header {
    text-align: right;
    margin-right: 25px;
}

.received-header {
    text-align: left;
    margin-left: 25px;
}

.username {
    color: #ffffff;
}

.role {
    font-size: 15px;
    margin-left: 5px;
}

.super-admin {
    color: #AC2222;
}

.group-admin {
    color: #03DAC6;
}

.message-header .timestamp {
    font-size: 0.75em;
    color: gray;
    margin-left: 10px;
}

.chat-image {
    max-width: 100%;
    max-height: 300px; 
    object-fit: contain;
    display: block; 
    margin: 0 auto; 
}

.rounded-circle{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    object-fit: cover;
    margin-bottom: 5px;
    margin-top: 5px;
}

.system-message{
    color: #6c5fcb80;
}