<div id="right-column">
    <!-- Content for the right column -->
    <div *ngIf="selectedChannel" class="h-100 message-parent">

        <!-- Header -->
        <div class="header-bg d-flex justify-content-end align-items-center">
            <!-- Call -->
            <div class="header-icon-2 d-flex align-items-center">
                <img src="../assets/Icons/VideoCall.png" width="30px"> 
            </div>
        </div>
        

        <!-- Message box -->
        <div class="message-box" #messageBox>
            <div *ngFor="let message of messages" 
                class="message-item" 
                [ngClass]="{'sent': message.userID === userID, 'received': message.userID !== userID}">

                <div *ngIf="message.role === 'system'; else userMessage">
                    <!-- System Message Content -->
                    <div class="system-message d-flex justify-content-center align-item-center">
                        <span>{{ message.message }}</span>
                    </div>
                </div>

                <ng-template #userMessage>
                    <!-- User Message Content -->
                    <div class="message-header"
                        [ngClass]="{'sent-header': message.userID === userID, 'received-header': message.userID !== userID}">
                        <img [src]="message.profilePicture || 'http://localhost:3000/profilePictures/default.png'" class="rounded-circle">
                        <span class="username">{{ message.username }}</span>
                        <span class="role" [ngClass]="{'super-admin': message.role === 'superAdmin', 'group-admin': message.role === 'groupAdmin'}">
                            ({{ message.role === 'superAdmin' ? 'SA' : (message.role === 'groupAdmin' ? 'GA' : message.role) }})
                        </span>
                        <span class="timestamp">{{ message.timestamp | date:'shortTime' }}</span>
                    </div>

                    <!-- Message Content -->
                    <div class="message-container-content">
                        <div class="message-content" [ngClass]="{'sent-content': message.userID === userID, 'received-content': message.userID !== userID}">
                            <ng-container *ngIf="isImage(message.message); else textMessage">
                                <img [src]="message.message" alt="Image" class="chat-image">
                            </ng-container>
                            <ng-template #textMessage>
                                {{ message.message }}
                            </ng-template>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>


         <!-- Message Input -->
         <div class="message-input-container" #inputContainer>
            <input
                type="text"
                placeholder="Type..."
                class="message-input"
                #messageInput
                (keydown.enter)="onSend(messageInput)"
            >
            <div class="attach-button" (click)="fileInput.click()">
                <img src="../assets/Icons/AttachFile.png" alt="Attach" width="24px">
                <input type="file" #fileInput accept="image/*" (change)="handleFileUpload($event)" style="display: none;">
            </div>
        </div>

    </div>

    <div *ngIf="!selectedChannel" class="d-flex align-items-center justify-content-center h-100">
        <div class="text-center noSelection rounded-5">
            Please Select a Group &gt; Channel First
        </div>
    </div>


    <div *ngIf="settingsVisible" class="settings-overlay">
        <!-- <button class="close-settings-button" (click)="settingsService.hideSettings()">Close Settings</button> -->
        <app-settings></app-settings>
      </div>
</div>

