<div id="right-column">
    <!-- Content for the right column -->
    <div *ngIf="selectedChannel" class="h-100 message-parent">

        <!-- Header -->
        <div class="header-bg d-flex justify-content-end align-items-center">
            <!-- Call -->
            <div class="header-icon-2 d-flex align-items-center">
                <img src="../assets/Icons/VideoCall.png" width="30px"> 
            </div>
        </div>
        

        <!-- Message box -->
        <div class="message-box" #messageBox>
            <div *ngFor="let message of messages" 
                class="message-item" 
                [ngClass]="{'sent': message.userID === userID, 'received': message.userID !== userID}">
        
            <!-- Username and Role -->
            <div class="message-header">
                <span class="username">{{ message.username }}</span>
                <span class="role" [ngClass]="{'super-admin': message.role === 'superAdmin', 'group-admin': message.role === 'groupAdmin'}">
                    ({{ message.role === 'superAdmin' ? 'SA' : (message.role === 'groupAdmin' ? 'GA' : message.role) }})
                </span>
            </div>
        
            <!-- Message Content -->
            <div class="message-content">
                {{ message.message }}
            </div>
            </div>
        </div>

         <!-- Message Input -->
         <div class="message-input-container">
            <input
                type="text"
                placeholder="Type..."
                class="message-input"
                #messageInput
                (keydown.enter)="onSend(messageInput)"
            >
            <div class="attach-button">
                <img src="../assets/Icons/AttachFile.png" alt="Attach" width="24px">
            </div>
        </div>

    </div>

    <div *ngIf="!selectedChannel" class="d-flex align-items-center justify-content-center h-100">
        <div class="text-center noSelection rounded-5">
            Please Select a Group &gt; Channel First
        </div>
    </div>


    <div *ngIf="settingsVisible" class="settings-overlay">
        <!-- <button class="close-settings-button" (click)="settingsService.hideSettings()">Close Settings</button> -->
        <app-settings></app-settings>
      </div>
</div>

