<div class="settings-pad">
    <div class="settings-content d-flex justify-content-center text-center">
        <i class="fas fa-times text-white fa-2x close-icon" (click)="toggleSettings()"></i>
        <i *ngIf="currentView !== 'group-settings'" class="back-icon" (click)="setView('group-settings')">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="none" viewBox="0 0 24 24">
                <path d="M15 18l-6-6 6-6" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </i>
        <ng-container [ngSwitch]="currentView">
            <div *ngSwitchCase="'group-settings'" class="w-100">
                <!-- Header -->
                <div class="setting-header header-text">Group Settings</div>

                <div class="setting-body">
                    <div (click)="setView('group-members')" class="groupSettings-element">Group Members</div>
                    <div *ngIf="isAdmin" (click)="setView('join-requests'); loadRequests()" class="groupSettings-element">Join Requests</div>
                    <div *ngIf="isAdmin" (click)="setView('create-channels')" class="groupSettings-element">Create Channels</div>
                    <div *ngIf="isAdmin" (click)="setView('remove-channels'); loadChannels()" class="groupSettings-element">Remove Channels</div>
                    <div (click)="leaveGroup()" class="groupSettings-element bottom-button">Leave Group</div>
                </div>
            </div>

            <!-- Group Members -->
            <div *ngSwitchCase="'group-members'">
                <div class="setting-header header-text">Group Members</div>
            </div>

            <!-- Join Requests -->
            <div *ngSwitchCase="'join-requests'" class="w-100">
                <div class="setting-header header-text">Join Requests</div>
                <ul class="setting-body list-unstyled">
                  <li *ngFor="let request of userRequests" class="reqList-element d-flex justify-content-between align-items-center">
                    <span>{{ request.username }}</span>
                    <div>
                      <button class="btn btn-success me-2 req-btn" (click)="approveRequest(request.userID, request.requestID)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                        </svg>
                      </button>
                      <button class="btn btn-danger req-btn" (click)="removeRequest(request.requestID)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
            </div>

            <!-- Create Channels -->
            <div *ngSwitchCase="'create-channels'" class="w-100">
                <div class="setting-header header-text">Create Channels</div>
                <div class="setting-body">
                    <input placeholder="Channel Name" class="channelNameInput text-center" [(ngModel)]="channelName" required>
                    <div (click)="addChannel(); toggleSettings()" class="addChannel text-white">Add Channel</div>
                </div>  
            </div>

            <!-- Remove Channels -->
            <div *ngSwitchCase="'remove-channels'" class="w-100">
                <div class="setting-header header-text">Remove Channels</div>
                <div class="setting-body list-unstyled">
                    <li 
                        class="channel-element" 
                        *ngFor="let channel of allGroupChannels" 
                        (click)="onChannelClick(channel.channelID)"
                        [ngClass]="{'selected': selectedChannelID === channel.channelID}">
                        {{ channel.name }}
                    </li>
                    <div (click)="deleteChannel()" class="groupSettings-element bottom-button">Delete Channel</div>
                </div>
            </div>

            <div *ngSwitchDefault>
                <p>Select a setting to view.</p>
            </div>
        </ng-container>
    </div>
</div>
  