#bg-container {
    background-color: #050505;
}

.banner-header {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #131313;
    color: white;
    border: 3px solid #8B82CA;
    border-radius: 25px;
    font-size: 2rem;
}

.group-container {
    background-color: #131313;
    border: 1px solid #03DAC6;
    border-radius: 25px;
    padding: 50px;
    max-width: 90%;
    min-height: 600px;
    margin: 0 auto;
}

.group-card {
    background-color: #1f1f1f;
    border-radius: 20px;
    color: white;
    border: 1px solid #03DAC6;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    height: 100%; 
}

.group-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.card-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 100%;
    background-color: #03DAC6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon {
    width: 32px;
    height: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-lg-4, .col-md-6, .col-sm-12 {
    padding-left: 15px;
    padding-right: 15px;
}
